@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #DC143C;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body {
  background-color: #fff;
}




